{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}
<div class="row">
    <div class="col s12 m12">

        <div class="card" style="margin-right: -10%;margin-left: 10%">
            <div class="card-image">
                <!-- <img src="images/sample-1.jpg"> -->
                <span class="card-title">
                </span>
                {% if user.is_authenticated %}
                <a href="{% url 'post_edit' pk=post.pk %}"
                    class="btn-floating halfway-fab waves-effect waves-light orange"><i
                        class="large material-icons">edit</i></a>

                <a href="{% url 'post_delete' pk=post.pk %}" class="btn halfway-fab waves-effect waves-light red"><i
                        class="large material-icons">remove</i></a>
                {% endif %} </div>
            <div class="card-content">
                <div>

                    <p> {% include  'blog/post_detail.html' %}</p>

                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}
<!-- <div class="post">
<div class="date">
    <p>Yayın tarihi: {{ post.published_date }}</p>
</div>
<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
<p>{{ post.text|linebreaksbr }}</p>
</div> -->